*{
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins.ttf);
}
@font-face {
    font-family:'Roboto';
    src: url(./fonts/Roboto-Light.ttf);
}
body{
    background: #5052E2;
}
.header { 
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 100%;
    padding-right: 25px;
    padding-top: 23px;
}
.head {
    align-items: center;
    margin-left: 23PX;
    font-weight: 900;
    font-size: 27px;
    line-height: 27px;
    color: #FFFFFF;
}
.head > svg {
    margin-right: 23px;
}
.righthead {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 30px;
    column-gap: 14px;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    justify-items: center;
}

.righthead > p {
    
    align-items: center;  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.container {
    display: flex;
    margin-inline: auto;
    margin-top: 70px;
}
.container > h1 {
    max-width: 800px;
    margin-inline: auto;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 82px;
    text-align: center;
    letter-spacing: -4px;
    color: #FFFFFF;
    margin: auto;
}
h5 {
    margin-top: 33px;
    max-width: 600px;
    margin-inline: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;

}
.cards {
    display: flex;
    margin-inline: auto;
    max-width: 1140px;
    margin-top: 60px;
    column-gap: 30px;
    
}
.box1{
    
    
    width: 360px;
    height: 260px;
    padding: 30px; 

    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    
}
 img {
    border-radius: 50%;
    max-width: 68px;
 }
 .small {
    margin-top: -40px;
    max-width: 100px;
    height: 24px;
    margin-left: 80px;
    

    
 }
.name {
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #1B1B1B;
}
.email{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #9B9B9B;
}
.text1{
    margin-top: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #1B1B1B;
    font-family:'Roboto';
}
.footer {
    margin-top: 20px;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9B9B9B;
}
.box2 {
    width: 360px;
    height: 260px;
    padding: 30px; 
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.box3{
    width: 360px;
    height: 260px;
    padding: 30px; 
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.middletext {
    
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer1 {
    display: flex;
   
    align-items: center;
    column-gap: 250px;
    margin-left: 50px;
    margin-top: 136px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    
}

.footermenu {
    display: flex;
    align-items: center;
    column-gap: 31px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.midd {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Poppins';
    column-gap: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.icons {
   
    display: flex;
   column-gap:20px;
   margin-right: 23px;
   align-items: center;
}